
@{
    ViewBag.Title = "À propos de nous";
}

<!-- CONTENT -->
<!-- Intro Section -->
<section class="inner-intro bg-img overlay-bg-color light-color parallax parallax-background">
    <div class="container">
        <div class="row title">
            <h2 class="h2">@ViewBag.Title</h2>
            <div class="page-breadcrumb"> <a href="@Url.Action("Index", "Home")">Acceuil</a>/<span>@ViewBag.Title</span> </div>
        </div>
    </div>
</section>
<!-- Intro Section -->
<!-- About Section -->
<section class="about-section ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 pb-xs-30"> <img src="~/images/about/img1.jpg" alt="" /> </div>
            <div class="col-sm-6">
                <span class="sub-title">Bienvenue à DentalCare</span>
                <h2>Les meilleurs soins pour tout les besoins de nos patients</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros amet sollicitudin interdum. Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <!--a class="btn btn-md btn-color-line xs-hidden mt-15">Lire la suite</a-->
            </div>
        </div>
    </div>
</section>
<!-- About Section -->
<!-- About Section -->
<section class="we-best">
    <div class="booking-section">
        <div class="left-block bg-color float-none-xs">
            <div class="treatment light-color float-none-xs">
                <h3>Pourquoi sommes-nous les meilleurs ?</h3>

                <p class="lead">Cras dapibus Vivamus elementum semper nisi Aenean vulputate </p>
                <ul>
                    <li>
                        <i class="fa fa-thumbs-up icon-circle"></i> <strong>MÉDECIN CONFIRMÉ</strong>
                        <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean. </p>
                    </li>
                    <li>
                        <i class="dicon-note icon-circle"></i> <strong>CONSEIL MEDICAL GRATUIT</strong>
                        <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean. </p>
                    </li>
                    <li>
                        <i class="fa fa-credit-card icon-circle"></i> <strong>PAIEMENT EN LIGNE</strong>
                        <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean. </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-block float-none-xs bg-leftside"> </div>
    </div>
</section>

